@charset "UTF-8";

/**** font import ****/
/* samsung one */
@font-face {
  font-family: 'sm-300';
  font-style: normal;
  font-weight: 400;
  src: url(../font/SamsungOne-300.eot);
  src: url(../font/SamsungOne-300.eot?#iefix) format('embedded-opentype'),
       url(../font/SamsungOne-300.woff) format('woff'),
       url(../font/SamsungOne-300.ttf) format('truetype');
}

@font-face {
  font-family: 'sm-400';
  font-style: normal;
  font-weight: 400;
  src: url(../font/SamsungOne-400.eot);
  src: url(../font/SamsungOne-400.eot?#iefix) format('embedded-opentype'),
       url(../font/SamsungOne-400.woff) format('woff'),
       url(../font/SamsungOne-400.ttf) format('truetype');
}

@font-face {
  font-family: 'sm-600';
  font-style: normal;
  font-weight: 400;
  src: url(../font/SamsungOne-600.eot);
  src: url(../font/SamsungOne-600.eot?#iefix) format('embedded-opentype'),
       url(../font/SamsungOne-600.woff) format('woff'),
       url(../font/SamsungOne-600.ttf) format('truetype');
}

@font-face {
  font-family: 'sm-700';
  font-style: normal;
  font-weight: 400;
  src: url(../font/SamsungOne-700.eot);
  src: url(../font/SamsungOne-700.eot?#iefix) format('embedded-opentype'),
       url(../font/SamsungOne-700.woff) format('woff'),
       url(../font/SamsungOne-700.ttf) format('truetype');
}

@font-face {
  font-family: 'sm-800';
  font-style: normal;
  font-weight: 400;
  src: url(../font/SamsungOne-800.eot);
  src: url(../font/SamsungOne-800.eot?#iefix) format('embedded-opentype'),
       url(../font/SamsungOne-800.woff) format('woff'),
       url(../font/SamsungOne-800.ttf) format('truetype');
}


/************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
h1,h2,h3,h4,h5,h6 {font-weight:normal; }
img{vertical-align:top; border:none; }
hr,legend, caption {display:none;}
strong, em, address{font-weight:normal; }
body {line-height: 1; font-family:'sm-400', Arial, Tahoma , SimSun, SimHei, Microsoft YaHei, Dotum, Gulim, sans-serif; color:#333}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0; }
table th{font-weight:normal; text-align:left; }
fieldset {border:0;padding:0; margin:0;}
legend {position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font-size:0;}

a{text-decoration:none; vertical-align:middle; color:#333}
a:hover{text-decoration:none;  }

/*form*/
input, select{vertical-align:middle; }
input:focus{outline:none}
button{border:none; outline:none; cursor:pointer;}
select{}
textarea{}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/*hidden*/
.sd2_hidden{position:absolute; left:-9999999px; overflow:hidden; }








.sd2_pd_0 {padding: 0px !important;}
.sd2_pd_5 {padding: 5px !important;}
.sd2_pd_10 {padding: 10px !important;}
.sd2_pd_15 {padding: 15px !important;}
.sd2_pd_20 {padding: 20px !important;}
.sd2_pd_25 {padding: 25px !important;}
.sd2_pd_30 {padding: 30px !important;}
.sd2_pd_35 {padding: 35px !important;}
.sd2_pd_40 {padding: 40px !important;}
.sd2_pd_45 {padding: 45px !important;}
.sd2_pd_50 {padding: 50px !important;}
.sd2_pd_55 {padding: 55px !important;}
.sd2_pd_60 {padding: 60px !important;}
.sd2_pd_65 {padding: 65px !important;}
.sd2_pd_70 {padding: 70px !important;}
.sd2_pd_75 {padding: 75px !important;}
.sd2_pd_80 {padding: 80px !important;}
.sd2_pd_85 {padding: 85px !important;}
.sd2_pd_90 {padding: 90px !important;}
.sd2_pd_95 {padding: 95px !important;}
.sd2_pd_100 {padding: 100px !important;}

.sd2_mg_0 {margin: 0px !important;}
.sd2_mg_5 {margin: 5px !important;}
.sd2_mg_10 {margin: 10px !important;}
.sd2_mg_15 {margin: 15px !important;}
.sd2_mg_20 {margin: 20px !important;}
.sd2_mg_25 {margin: 25px !important;}
.sd2_mg_30 {margin: 30px !important;}
.sd2_mg_35 {margin: 35px !important;}
.sd2_mg_40 {margin: 40px !important;}
.sd2_mg_45 {margin: 45px !important;}
.sd2_mg_50 {margin: 50px !important;}
.sd2_mg_55 {margin: 55px !important;}
.sd2_mg_60 {margin: 60px !important;}
.sd2_mg_65 {margin: 65px !important;}
.sd2_mg_70 {margin: 70px !important;}
.sd2_mg_75 {margin: 75px !important;}
.sd2_mg_80 {margin: 80px !important;}
.sd2_mg_85 {margin: 85px !important;}
.sd2_mg_90 {margin: 90px !important;}
.sd2_mg_95 {margin: 95px !important;}
.sd2_mg_100 {margin: 100px !important;}

.sd2_pt_0 {padding-top: 0px !important;}
.sd2_pt_5 {padding-top: 5px !important;}
.sd2_pt_10 {padding-top: 10px !important;}
.sd2_pt_15 {padding-top: 15px !important;}
.sd2_pt_20 {padding-top: 20px !important;}
.sd2_pt_25 {padding-top: 25px !important;}
.sd2_pt_30 {padding-top: 30px !important;}
.sd2_pt_35 {padding-top: 35px !important;}
.sd2_pt_40 {padding-top: 40px !important;}
.sd2_pt_45 {padding-top: 45px !important;}
.sd2_pt_50 {padding-top: 50px !important;}
.sd2_pt_55 {padding-top: 55px !important;}
.sd2_pt_60 {padding-top: 60px !important;}
.sd2_pt_65 {padding-top: 65px !important;}
.sd2_pt_70 {padding-top: 70px !important;}
.sd2_pt_75 {padding-top: 75px !important;}
.sd2_pt_80 {padding-top: 80px !important;}
.sd2_pt_85 {padding-top: 85px !important;}
.sd2_pt_90 {padding-top: 90px !important;}
.sd2_pt_95 {padding-top: 95px !important;}
.sd2_pt_100 {padding-top: 100px !important;}

.sd2_pb_0 {padding-bottom: 0px !important;}
.sd2_pb_5 {padding-bottom: 5px !important;}
.sd2_pb_10 {padding-bottom: 10px !important;}
.sd2_pb_15 {padding-bottom: 15px !important;}
.sd2_pb_20 {padding-bottom: 20px !important;}
.sd2_pb_25 {padding-bottom: 25px !important;}
.sd2_pb_30 {padding-bottom: 30px !important;}
.sd2_pb_35 {padding-bottom: 35px !important;}
.sd2_pb_40 {padding-bottom: 40px !important;}
.sd2_pb_45 {padding-bottom: 45px !important;}
.sd2_pb_50 {padding-bottom: 50px !important;}
.sd2_pb_55 {padding-bottom: 55px !important;}
.sd2_pb_60 {padding-bottom: 60px !important;}
.sd2_pb_65 {padding-bottom: 65px !important;}
.sd2_pb_70 {padding-bottom: 70px !important;}
.sd2_pb_75 {padding-bottom: 75px !important;}
.sd2_pb_80 {padding-bottom: 80px !important;}
.sd2_pb_85 {padding-bottom: 85px !important;}
.sd2_pb_90 {padding-bottom: 90px !important;}
.sd2_pb_95 {padding-bottom: 95px !important;}
.sd2_pb_100 {padding-bottom: 100px !important;}

.sd2_mt_0 {margin-top: 0px !important;}
.sd2_mt_5 {margin-top: 5px !important;}
.sd2_mt_10 {margin-top: 10px !important;}
.sd2_mt_15 {margin-top: 15px !important;}
.sd2_mt_20 {margin-top: 20px !important;}
.sd2_mt_25 {margin-top: 25px !important;}
.sd2_mt_30 {margin-top: 30px !important;}
.sd2_mt_35 {margin-top: 35px !important;}
.sd2_mt_40 {margin-top: 40px !important;}
.sd2_mt_45 {margin-top: 45px !important;}
.sd2_mt_50 {margin-top: 50px !important;}
.sd2_mt_55 {margin-top: 55px !important;}
.sd2_mt_60 {margin-top: 60px !important;}
.sd2_mt_65 {margin-top: 65px !important;}
.sd2_mt_70 {margin-top: 70px !important;}
.sd2_mt_75 {margin-top: 75px !important;}
.sd2_mt_80 {margin-top: 80px !important;}
.sd2_mt_85 {margin-top: 85px !important;}
.sd2_mt_90 {margin-top: 90px !important;}
.sd2_mt_95 {margin-top: 95px !important;}
.sd2_mt_100 {margin-top: 100px !important;}

.sd2_mb_0 {margin-bottom: 0px !important;}
.sd2_mb_5 {margin-bottom: 5px !important;}
.sd2_mb_10 {margin-bottom: 10px !important;}
.sd2_mb_15 {margin-bottom: 15px !important;}
.sd2_mb_20 {margin-bottom: 20px !important;}
.sd2_mb_25 {margin-bottom: 25px !important;}
.sd2_mb_30 {margin-bottom: 30px !important;}
.sd2_mb_35 {margin-bottom: 35px !important;}
.sd2_mb_40 {margin-bottom: 40px !important;}
.sd2_mb_45 {margin-bottom: 45px !important;}
.sd2_mb_50 {margin-bottom: 50px !important;}
.sd2_mb_55 {margin-bottom: 55px !important;}
.sd2_mb_60 {margin-bottom: 60px !important;}
.sd2_mb_65 {margin-bottom: 65px !important;}
.sd2_mb_70 {margin-bottom: 70px !important;}
.sd2_mb_75 {margin-bottom: 75px !important;}
.sd2_mb_80 {margin-bottom: 80px !important;}
.sd2_mb_85 {margin-bottom: 85px !important;}
.sd2_mb_90 {margin-bottom: 90px !important;}
.sd2_mb_95 {margin-bottom: 95px !important;}
.sd2_mb_100 {margin-bottom: 100px !important;}

.sd2_pr_0 {padding-right: 0px !important;}
.sd2_pr_5 {padding-right: 5px !important;}
.sd2_pr_10 {padding-right: 10px !important;}
.sd2_pr_15 {padding-right: 15px !important;}
.sd2_pr_20 {padding-right: 20px !important;}
.sd2_pr_25 {padding-right: 25px !important;}
.sd2_pr_30 {padding-right: 30px !important;}
.sd2_pr_35 {padding-right: 35px !important;}
.sd2_pr_40 {padding-right: 40px !important;}
.sd2_pr_45 {padding-right: 45px !important;}
.sd2_pr_50 {padding-right: 50px !important;}
.sd2_pr_55 {padding-right: 55px !important;}
.sd2_pr_60 {padding-right: 60px !important;}
.sd2_pr_65 {padding-right: 65px !important;}
.sd2_pr_70 {padding-right: 70px !important;}
.sd2_pr_75 {padding-right: 75px !important;}
.sd2_pr_80 {padding-right: 80px !important;}
.sd2_pr_85 {padding-right: 85px !important;}
.sd2_pr_90 {padding-right: 90px !important;}
.sd2_pr_95 {padding-right: 95px !important;}
.sd2_pr_100 {padding-right: 100px !important;}

.sd2_pl_0 {padding-left: 0px !important;}
.sd2_pl_5 {padding-left: 5px !important;}
.sd2_pl_10 {padding-left: 10px !important;}
.sd2_pl_15 {padding-left: 15px !important;}
.sd2_pl_20 {padding-left: 20px !important;}
.sd2_pl_25 {padding-left: 25px !important;}
.sd2_pl_30 {padding-left: 30px !important;}
.sd2_pl_35 {padding-left: 35px !important;}
.sd2_pl_40 {padding-left: 40px !important;}
.sd2_pl_45 {padding-left: 45px !important;}
.sd2_pl_50 {padding-left: 50px !important;}
.sd2_pl_55 {padding-left: 55px !important;}
.sd2_pl_60 {padding-left: 60px !important;}
.sd2_pl_65 {padding-left: 65px !important;}
.sd2_pl_70 {padding-left: 70px !important;}
.sd2_pl_75 {padding-left: 75px !important;}
.sd2_pl_80 {padding-left: 80px !important;}
.sd2_pl_85 {padding-left: 85px !important;}
.sd2_pl_90 {padding-left: 90px !important;}
.sd2_pl_95 {padding-left: 95px !important;}
.sd2_pl_100 {padding-left: 100px !important;}

.sd2_mr_0 {margin-right: 0px !important;}
.sd2_mr_5 {margin-right: 5px !important;}
.sd2_mr_10 {margin-right: 10px !important;}
.sd2_mr_15 {margin-right: 15px !important;}
.sd2_mr_20 {margin-right: 20px !important;}
.sd2_mr_25 {margin-right: 25px !important;}
.sd2_mr_30 {margin-right: 30px !important;}
.sd2_mr_35 {margin-right: 35px !important;}
.sd2_mr_40 {margin-right: 40px !important;}
.sd2_mr_45 {margin-right: 45px !important;}
.sd2_mr_50 {margin-right: 50px !important;}
.sd2_mr_55 {margin-right: 55px !important;}
.sd2_mr_60 {margin-right: 60px !important;}
.sd2_mr_65 {margin-right: 65px !important;}
.sd2_mr_70 {margin-right: 70px !important;}
.sd2_mr_75 {margin-right: 75px !important;}
.sd2_mr_80 {margin-right: 80px !important;}
.sd2_mr_85 {margin-right: 85px !important;}
.sd2_mr_90 {margin-right: 90px !important;}
.sd2_mr_95 {margin-right: 95px !important;}
.sd2_mr_100 {margin-right: 100px !important;}

.sd2_ml_0 {margin-left: 0px !important;}
.sd2_ml_5 {margin-left: 5px !important;}
.sd2_ml_10 {margin-left: 10px !important;}
.sd2_ml_15 {margin-left: 15px !important;}
.sd2_ml_20 {margin-left: 20px !important;}
.sd2_ml_25 {margin-left: 25px !important;}
.sd2_ml_30 {margin-left: 30px !important;}
.sd2_ml_35 {margin-left: 35px !important;}
.sd2_ml_40 {margin-left: 40px !important;}
.sd2_ml_45 {margin-left: 45px !important;}
.sd2_ml_50 {margin-left: 50px !important;}
.sd2_ml_55 {margin-left: 55px !important;}
.sd2_ml_60 {margin-left: 60px !important;}
.sd2_ml_65 {margin-left: 65px !important;}
.sd2_ml_70 {margin-left: 70px !important;}
.sd2_ml_75 {margin-left: 75px !important;}
.sd2_ml_80 {margin-left: 80px !important;}
.sd2_ml_85 {margin-left: 85px !important;}
.sd2_ml_90 {margin-left: 90px !important;}
.sd2_ml_95 {margin-left: 95px !important;}
.sd2_ml_100 {margin-left: 100px !important;}