@charset "UTF-8";
@import url(../sass/services.css);

/******services********/

/*service banner*/
.sd2_svc_banner_wrap{height:281px}
.sd2_svc_banner_wrap .sd2_svc_banner_container{box-sizing: border-box; height:324px; overflow:hidden; position:relative }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_txt{float:left; padding:50px 0 0 0;  box-sizing:border-box; height:100%; position:relative; }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_txt p{font-family:'sm-400'; color:#333}
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_txt .sd2_landing_pa1{padding-bottom:8px; font-size:22px; }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_txt .sd2_landing_title{font:38px 'sm-800'; line-height:1.2; padding-bottom:5px; text-transform:uppercase; }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_txt .sd2_lading_txt{font-size:16px; line-height:1.2; padding-left:1px}
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_banner_img{float:right; position:absolute; right:0; top:81px}
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_btn_area {position:absolute; left:0; bottom:54px; }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_btn_area a{display:inline-block; width:150px; height:40px;  background:#fff; border:1px solid #333; color:#333; font:16px 'sm-400'; line-height:39px; text-align:center; /*transition:all 0.sd2_1s*/; box-sizing:border-box }
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_btn_area a:first-child{margin-right:7px}
.sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_btn_area a:hover, .sd2_svc_banner_wrap .sd2_svc_banner_container .sd2_btn_area a.sd2_other_bg:hover{color:#fff; border-color:#374971; background:#374971 !important; text-decoration:none}
.sd2_learn_btn.sd2_top_margin{margin-top:34px}

/*service button*/
.sd2_svc_btn_wrap {position: relative}
.sd2_svc_btn_wrap input.sd2_input-text{border:none; border-bottom: 1px solid #666; background:transparent; width:440px; font:12px 'sm-400'; color:#333; height:24px ; color:#666 ; line-height:24px; }
.sd2_svc_btn_wrap a.sd2_btn_submit {position: absolute; right: 0; top: 0; display:inline-block; width:auto; height:24px;  background:#fff; border:1px solid #b9b9b9; color:#333; font:12px 'sm-400'; padding: 0 20px; line-height:24px; text-align:center; /*transition:all 0.sd2_1s*/; box-sizing:border-box;}

/*smart home step table*/
.sd2_table_smarthome td, .sd2_table_smarthome th {padding: 15px;}
.sd2_table_smarthome .sd2_step_tit {font:14px 'sm-600'; color: #333; text-align: left;}
.sd2_table_smarthome .sd2_step_no {font:14px 'sm-400'; color: #666}

/*****content.css*****/
.sd2_code {font-size: 14px; line-height: 1.5; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
i, .sd2_italic {font-style: italic;}

.sd2_figure{display:block; text-align:center; font:12px 'sm-400' !important; color:#666 !important; margin-top:5px}

strong {font-weight: 800;}
.sd2_strong {color: #2d5cc4 !important;}

/*ordered list*/
.sd2_order_list {font-size: 14px; font-weight: 400; padding-left: 28px; list-style: decimal;}
.sd2_order_list li {padding-bottom:12px;}

/*code*/
.sd2_code_wrap label.sd2_show_line_label {margin-left: 5px; font-size: 12px; color: #666;}









/*포럼글쓰기*/
.sd2_forum_top_wrap {background: #e9e9e9; padding: 17px 0;}
.sd2_forum_top_wrap .sd2_forum_top_container {width:980px; margin:0 auto; position: relative}
.sd2_forum_top_wrap .sd2_forum_top_container .sd2_forum_top_title {font:22px 'sm-400'; line-height: 24px; color: #333;}
.sd2_forum_top_wrap .sd2_forum_top_container .sd2_forum_top_search_wrap {position: absolute; right: 52px; top: 0;  border-bottom: 1px solid #666;  width:280px;}
.sd2_forum_top_wrap .sd2_forum_top_container .sd2_forum_top_search_wrap input.sd2_input_txt {border:none; background:transparent; font:12px 'sm-400'; color:#333; width:256px; height:24px; line-height:24px;}
.sd2_forum_top_wrap .sd2_forum_top_container .sd2_forum_top_search_wrap .sd2_forum_top_search {width:23px; height:21px; font-size:0; background: transparent url(../../images/community/forum_search.png) no-repeat center center; position:absolute; right:0; top:0;}

.sd2_forum_write_wrap .sd2_forum_list_container {width:1000px; margin:0 auto; padding-top: 45px;}