<!-- footer_wrap -->
<div class="sd2_footer_wrap">
	<!-- footer_menu_wrap -->
	<div class="sd2_footer_menu_wrap">
		<!-- footer_menu_container -->
		<div class="sd2_footer_menu_container">
			<ul>
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="#">End user license agreement</a></li>
			</ul>
		</div><!-- //footer_menu_container -->
	</div><!-- //footer_menu_wrap -->
	<!-- sitemap_wrap -->
	<div class="sd2_sitemap_wrap">
		<!-- sitemap_container -->
		<div class="sd2_sitemap_container">
			<ul class="sd2_sitemap_dep1">
				<li class="sd2_device"><a href="#">DEVICES</a>
					<ul class="sd2_sitemap_dep2">
						<li><a href="#">Galaxy</a></li>
						<li><a href="#">Smart TV</a></li>
						<li><a href="#">Z</a></li>
						<li><a href="#">Gear</a></li>
						<li><a href="#none">Printer</a></li>
					</ul>
				</li>
				<li class="sd2_services"><a href="#">SERVICES</a>
					<ul class="sd2_sitemap_dep2">
						<li><a href="#">Samsung Services</a></li>
						<li><a href="#">Samsung Account</a></li>
						<li><a href="#">Samsung Digital Health</a></li>
						<li><a href="#">Samsung Internet</a></li>
						<li><a href="#">Samsung In-App Purchase</a></li>
						<li><a href="#">PEN-UP</a></li>
						<li><a href="#">ARTIK</a></li>
						<li><a href="#">Smart Connectivity</a></li>
						<li><a href="#">Smart Home Cloud API</a></li>
						<li><a href="#">Theme Service</a></li>
						<li><a href="#">Others</a></li>
					</ul>
				</li>
				<li class="sd2_community"><a href="#">COMMUNITY</a>
					<ul class="sd2_sitemap_dep2">
						<li><a href="#">Galaxy</a></li>
						<li><a href="#">Smart TV</a></li>
						<li><a href="#">Z</a></li>
						<li><a href="#">Gear</a></li>
						<li><a href="#">Others</a></li>
						<li><a href="#">Open talk</a></li>
					</ul>
				</li>
				<li class="sd2_lab"><a href="#">REMOTE TEST LAB</a>
					<ul class="sd2_sitemap_dep2">
						<li><a href="#">Galaxy</a></li>
						<li><a href="#">Z</a></li>
						<li><a href="#">Gear</a></li>
						<li><a href="#">My Test Lab</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</li>
				<li class="sd2_program"><a href="#">PROGRAM</a>
					<ul class="sd2_sitemap_dep2">
						<li><a href="#">What is Developer program</a></li>
						<li><a href="#">Early Access</a></li>
						<li><a href="#">stream</a></li>
						<li><a href="#">Emulator Skin</a></li>
						<li><a href="#">Mobile tech Insight</a></li>
						<li><a href="#">Events</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- //sitemap_container -->
	</div><!-- sitemap_wrap -->
	<!-- copyright_wrap -->
	<div class="sd2_copyright_wrap sd2_main_sitemap_bg">
		<!-- copyright_container -->
		<div class="sd2_copyright_container">
			<!-- copy_box -->
			<div class="sd2_copy_box">
				<h1><img src="../images/common/layout/footer_logo.png" alt="SAMSUNG" /></h1>
				<!-- copy_txt -->
				<div class="sd2_copy_txt">
					<p>© 2015 SAMSUNG. All rights reserved.</p>
					<p>Portions of this page aret reproduced from work created and shared by the Android Open Source Project<br />
					and used according to terms described in the Creative Commons 2.5 Attribution License.</p>
				</div><!-- //copy_txt -->
				<ul class="sd2_sns">
					<li class="sd2_facebook"><a href="#">facebook</a></li>
					<li class="sd2_twitter"><a href="#">twitter</a></li>
				</ul>
			</div><!-- //copy_box -->
		</div><!-- //copyright_container -->
	</div><!-- //copyright_wrap -->
</div><!-- //footer_wrap -->