<!-- gnb_wrap -->
<div class="sd2_gnb_wrap">
	<!-- gnb_container -->
	<div class="sd2_gnb_container">
		<!-- nav -->
		<div class="sd2_nav">
			<ul class="sd2_depth_1">
				<li class="sd2_dropdown sd_gnb_m_100"><a href="/01_device/galaxy/galaxy_index.html">DEVICES<span class="sd2_arr"></span></a>
					<ul class="sd2_depth_2" >
						<li class="sd_gnb_s_101"><a href="/01_device/galaxy/galaxy_index.html">Galaxy </a></li>
						<li class="sd_gnb_s_102"><a href="/01_device/tv/tv_index.html">Smart TV </a></li>
						<li class="sd_gnb_s_103"><a href="/01_device/z/z_index.html">Z </a></li>
						<li class="sd_gnb_s_104"><a href="/01_device/gear/gear_index.html">Gear </a></li>
						<li class="sd_gnb_s_105"><a href="/01_device/printer/printer_index.html">Printer</a></li>
					</ul>
				</li>
				<li class="sd2_dropdown sd_gnb_m_200"><a href="/02_services/services/services_services.html">SERVICES<span class="sd2_arr"></span></a>
					<ul class="sd2_depth_2" >
						<li class="sd_gnb_s_201"><a href="/02_services/services/services_services.html">Samsung Services</a></li>
						<li class="sd_gnb_s_202"><a href="/02_services/account/services_account.html">Samsung Account </a></li>
						<li class="sd_gnb_s_203"><a href="/02_services/digital_health/services_digital_health.html">Samsung Digital Health</a></li>
						<li class="sd_gnb_s_204"><a href="/02_services/internet/services_internet.html">Samsung Internet</a></li>
						<li class="sd_gnb_s_205"><a href="/02_services/in-app/services_in-app.html">Samsung In-App Purchase</a></li>
						<li class="sd_gnb_s_206"><a href="/02_services/penup/services_penup.html">PEN.UP</a></li>
						<li class="sd_gnb_s_207"><a href="/02_services/artik/services_artik.html">ARTIK</a></li>
						<li class="sd_gnb_s_208"><a href="/02_services/smart_connectivity/services_smart_connectivity.html">Smart Connectivity</a></li>
						<li class="sd_gnb_s_209"><a href="/02_services/smart_home/services_smart_home_cloud.html">Smart Home Cloud API</a></li>
						<li class="sd_gnb_s_210"><a href="/02_services/theme_service/services_theme_service.html">Samsung Themes</a></li>
					</ul>
				</li>
				<li class="sd_gnb_m_300"><a href="/03_remotetestlab/rtl_index.html">REMOTE TEST LAB</a></li>
				<li class="sd_gnb_m_400"><a href="/04_community/community_index.html">COMMUNITY</a></li>
				<li class="sd_gnb_m_500"><a href="/05_program">PROGRAM</a></li>
			</ul>
			<span class="sd2_bg"></span>
		</div><!-- //nav -->
	</div><!-- //gnb_container -->
</div><!-- //gnb_wrap -->



<!-- ***** 퍼블리싱 제작을 위한 active 추가 스크립트입니다. ***** -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	var gnb = $(".sd2_header_2_wrap"),
		path_1 = window.location.pathname.split( '/' )[1], 
		path_2 = window.location.pathname.split( '/' )[2],
		path_3 = window.location.pathname.split( '/' )[3],
		active = "sd2_active";

	if(path_1 === "01_device") {
		gnb.find(".sd_gnb_m_100").addClass(active);

		if(path_2 === "galaxy") {
			gnb.find(".sd_gnb_s_101").addClass(active);
		} else if(path_2 === "tv") {
			gnb.find(".sd_gnb_s_102").addClass(active);
		} else if(path_2 === "z") {
			gnb.find(".sd_gnb_s_103").addClass(active);
		} else if(path_2 === "gear") {
			gnb.find(".sd_gnb_s_104").addClass(active);
		} else if(path_2 === "printer") {
			gnb.find(".sd_gnb_s_105").addClass(active);
		}

	} else if(path_1 === "02_services") {
		gnb.find(".sd_gnb_m_200").addClass(active);

		if(path_2 === "services") {
			gnb.find(".sd_gnb_s_201").addClass(active);
		} else if(path_2 === "account") {
			gnb.find(".sd_gnb_s_202").addClass(active);
		} else if(path_2 === "digital_health") {
			gnb.find(".sd_gnb_s_203").addClass(active);
		} else if(path_2 === "internet") {
			gnb.find(".sd_gnb_s_204").addClass(active);
		} else if(path_2 === "in-app") {
			gnb.find(".sd_gnb_s_205").addClass(active);
		} else if(path_2 === "penup") {
			gnb.find(".sd_gnb_s_206").addClass(active);
		} else if(path_2 === "artik") {
			gnb.find(".sd_gnb_s_207").addClass(active);
		} else if(path_2 === "smart_connectivity") {
			gnb.find(".sd_gnb_s_208").addClass(active);
		} else if(path_2 === "smart_home") {
			gnb.find(".sd_gnb_s_209").addClass(active);
		} else if(path_2 === "theme_service") {
			gnb.find(".sd_gnb_s_210").addClass(active);
		}

	} else if(path_1 === "03_remotetestlab") {
		gnb.find(".sd_gnb_m_300").addClass(active);

	} else if(path_1 === "04_community") {
		gnb.find(".sd_gnb_m_400").addClass(active);

	} else if(path_1 === "05_program") {
		gnb.find(".sd_gnb_m_500").addClass(active);

	}
});
// ]]>
</script>