<!-- header_1_wrap -->
<div class="sd2_header_1_wrap">
	<!-- header_1_container -->
	<div class="sd2_header_1_container sd2_main_inner_bg">
		<h1><a href="/">SAMSUNG DEVELOPERS</a></h1>
		<!-- header_util_wrap -->
		<div class="sd2_header_util_wrap">
			<ul>
				<li><a href="#">News & Update</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Sign up</a></li>
			</ul>
			<form action="#">
				<!-- search_wrap -->
				<div class="sd2_search_wrap">
					<div class="sd2_search_container">
						<input type="text" placeholder="Search" id="header_search" />
					</div>
					<button type="button">search</button>
				</div><!-- //search_wrap -->
			</form>
		</div><!-- //header_util_wrap -->
	</div><!-- //header_1_container -->
</div><!-- //header_1_wrap -->