<!-- lnb_wrap -->
<div class="sd2_lnb_wrap">
	<!-- lnb_container -->
	<div class="sd2_lnb_container">
		<!-- lnb_real_wrap -->
		<div class="sd2_lnb_real_wrap">
			<ul class="sd2_lnb_dep1">
				<li class="sd2_none sd_lnb_m_100"><a href="/02_services/services/services_services.html">Samsung Services</a></li>
				<li class="sd2_none sd_lnb_m_200"><a href="/02_services/account/services_account.html">Samsung Account</a></li>
				<li class="sd_lnb_m_300"><a href="#">Samsung Digital Health</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_302"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd_lnb_m_321"><a href="#">Health Data</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_311"><a href="/02_services/digital_health/technical/data/digital_health_data_release.html">Release Note</a></li>
										<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/health/index.html" target="_blank">API Reference</a></li>
										<li class="sd2_none sd_lnb_s_312"><a href="/02_services/digital_health/technical/data/digital_health_data_guide.html">Programming Guide</a></li>
									</ul>
								</li>
								<li class="sd_lnb_m_322"><a href="#">Health Service</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_321"><a href="/02_services/digital_health/technical/service/digital_health_service_release.html">Release Note</a></li>
										<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/shealth/index.html" target="_blank">API Reference</a></li>
										<li class="sd2_none sd_lnb_s_322"><a href="/02_services/digital_health/technical/service/digital_health_service_guide.html">Programming Guide</a></li>
										<li class="sd2_none sd_lnb_s_323"><a href="/02_services/digital_health/technical/service/digital_health_service_tracker.html">Tracker Design Guidelines</a></li>
									</ul>
								</li>
								<li class="sd2_none sd_lnb_s_331"><a href="/02_services/digital_health/technical/digital_health_branding.html">S Health Branding Guidelines</a></li>
							</ul>
						</li>
						<li class="sd2_none"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none"><a href="#sd2_video">Video</a></li>
						<li class="sd2_none"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd_lnb_m_400"><a href="#">Samsung Internet</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_402"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd_lnb_m_421"><a href="#">Android</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_411"><a href="/02_services/internet/technical/android/internet_android_release.html">Release Note</a></li>
										<li class="sd2_none sd_lnb_s_412"><a href="/02_services/internet/technical/android/internet_android_ext_guide.html">Extension Development Guide</a></li>
										<li class="sd2_none sd_lnb_s_413"><a href="/02_services/internet/technical/android/internet_android_web_guide.html">Web Developer Guide</a></li>
									</ul>
								</li>
								<li class="sd_lnb_m_322"><a href="#">Gear VR</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_421"><a href="/02_services/internet/technical/gear/internet_gear_release.html">Release Note</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="sd2_none"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd_lnb_m_500"><a href="#">Samsung In-App Purchase</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none sd_lnb_m_501"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_502"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd2_none sd_lnb_s_512"><a href="/02_services/in-app/technical/in-app_release.html">Release Note</a></li>
								<li class="sd2_none sd_lnb_s_513"><a href="/02_services/in-app/technical/in-app_howto_start.html">How to Start Samsung IAP</a></li>
								<li class="sd2_none sd_lnb_s_514"><a href="/02_services/in-app/technical/in-app_programming_guide.html">Programming Guide</a></li>
								<li class="sd2_none sd_lnb_s_515"><a href="/02_services/in-app/technical/in-app_air_guide.html">Adobe AIR Programming Guide</a></li>
								<li class="sd2_none sd_lnb_s_516"><a href="/02_services/in-app/technical/in-app_migrating.html">Migrating from Google Play In-App Billing</a></li>
							</ul>
						</li>
						<li class="sd2_none sd_lnb_m_503"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none sd_lnb_m_504"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none sd_lnb_m_505"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd_lnb_m_600"><a href="#">PEN.UP</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none sd_lnb_m_601"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_602"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd2_none sd_lnb_s_621"><a href="/02_services/penup/technical/penup_release.html">Release Note</a></li>
								<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/penup/index.html" target="_blank">API Reference</a></li>
								<li class="sd2_none sd_lnb_s_622"><a href="/02_services/penup/technical/penup_programming_guide.html">Programming Guide</a></li>
							</ul>
						</li>
						<li class="sd2_none sd_lnb_m_603"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none sd_lnb_m_604"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none sd_lnb_m_605"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd2_none sd_lnb_m_700"><a href="#">ARTIK</a></li>
				<li class="sd_lnb_m_800"><a href="#">Smart Connectivity</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none sd_lnb_m_801"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_802"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd_lnb_m_821"><a href="#">Android</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_811"><a href="/02_services/smart_connectivity/technical/android/smart_connectivity_android_release.html">Release Note</a></li>
										<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/scs/index.html" target="_blank">API Reference</a></li>
										<li class="sd2_none sd_lnb_s_812"><a href="/02_services/smart_connectivity/technical/android/smart_connectivity_android_guide.html">Programming Guide</a></li>
									</ul>
								</li>
								<li class="sd_lnb_m_822"><a href="#">Tizen</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_821"><a href="/02_services/smart_connectivity/technical/tizen/smart_connectivity_tizen_release.html">Release Note</a></li>
										<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/scs/index.html" target="_blank">API Reference</a></li>
										<li class="sd2_none sd_lnb_s_822"><a href="/02_services/smart_connectivity/technical/tizen/smart_connectivity_tizen_guide.html">Programming Guide</a></li>
									</ul>
								</li>
								<li class="sd_lnb_m_823"><a href="#">Windows</a>
									<ul class="sd2_lnb_dep4">
										<li class="sd2_none sd_lnb_s_831"><a href="/02_services/smart_connectivity/technical/windows/smart_connectivity_windows_release.html">Release Note</a></li>
										<li class="sd2_none"><a href="http://img-developer.samsung.com/onlinedocs/scs/index.html" target="_blank">API Reference</a></li>
										<li class="sd2_none sd_lnb_s_832"><a href="/02_services/smart_connectivity/technical/windows/smart_connectivity_windows_guide.html">Programming Guide</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="sd2_none sd_lnb_m_803"><a href="#sd2_add">Add on SDK</a></li>
						<li class="sd2_none sd_lnb_m_804"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none sd_lnb_m_805"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none sd_lnb_m_806"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd_lnb_m_900"><a href="#">Smart Home Cloud API</a>
					<ul class="sd2_lnb_dep2">
						<li class="sd2_none sd_lnb_m_901"><a href="#sd2_essential">Essential Contents</a></li>
						<li class="sd2_none"><a href="#sd2_overview">Overview</a></li>
						<li class="sd_lnb_m_902"><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd2_none sd_lnb_s_921"><a href="/02_services/smart_home/technical/smart_home_api_spec.html">API Specification</a></li>
								<li class="sd2_none sd_lnb_s_922"><a href="/02_services/smart_home/technical/smart_home_api_feature.html">API Feature List</a></li>
								<li class="sd2_none sd_lnb_s_923"><a href="/02_services/smart_home/technical/smart_home_ui.html">UI Guidelines</a></li>
								<li class="sd2_none sd_lnb_s_924"><a href="/02_services/smart_home/technical/smart_home_logo.html">Logo Guidelines</a></li>
								<li class="sd2_none sd_lnb_s_925"><a href="/02_services/smart_home/technical/smart_home_terms.html">Developer Terms of Service</a></li>
								<li class="sd2_none sd_lnb_s_926"><a href="/02_services/smart_home/technical/smart_home_img.html">Smart Appliance UI Image Assets</a></li>
								<li class="sd2_none sd_lnb_s_927"><a href="/02_services/smart_home/technical/smart_home_3rdparty.html">Samsung Account 3rd Party Integration Development</a></li>
							</ul>
						</li>
						<li class="sd2_none sd_lnb_m_903"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none sd_lnb_m_904"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none sd_lnb_m_905"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li class="sd_lnb_m_1000 sd2_none"><a href="#">Samsung Themes</a></li>
			</ul>
		</div><!-- //lnb_real_wrap -->
	</div><!-- //lnb_container -->
</div><!-- //lnb_wrap -->


<!-- ***** 퍼블리싱 제작을 위한 active 추가 스크립트입니다. ***** -->
<script type="text/javascript">
	//<![CDATA[
	$(document).ready(function(){
		var lnb = $(".sd2_lnb_wrap"),
				path_1 = window.location.pathname.split( '/' )[1],
				path_2 = window.location.pathname.split( '/' )[2],
				path_3 = window.location.pathname.split( '/' )[3],
				path_4 = window.location.pathname.split( '/' )[4],
				path_5 = window.location.pathname.split( '/' )[5],
				active = "sd2_active";

		if(path_2 === "services") {
			lnb.find(".sd_lnb_m_100").addClass(active);

			if(path_2 === "galaxy") {
				lnb.find(".sd_lnb_s_101").addClass(active);
			} else if(path_2 === "tv") {
				lnb.find(".sd_lnb_s_102").addClass(active);
			} else if(path_2 === "z") {
				lnb.find(".sd_lnb_s_103").addClass(active);
			} else if(path_2 === "gear") {
				lnb.find(".sd_lnb_s_104").addClass(active);
			} else if(path_2 === "printer") {
				lnb.find(".sd_lnb_s_105").addClass(active);
			}

		} else if(path_2 === "account") {
			lnb.find(".sd_lnb_m_200").addClass(active);

			if(path_2 === "services") {
				lnb.find(".sd_lnb_s_201").addClass(active);
			} else if(path_2 === "account") {
				lnb.find(".sd_lnb_s_202").addClass(active);
			} else if(path_2 === "in-app") {
				lnb.find(".sd_lnb_s_205").addClass(active);
			}

		} else if(path_2 === "digital_health") {
			lnb.find(".sd_lnb_m_300").addClass(active).find(".sd2_lnb_dep2").show();

			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_302").addClass(active).find(".sd2_lnb_dep3").show();

				if(path_4 === "data") {
					lnb.find(".sd_lnb_m_321").addClass(active).find(".sd2_lnb_dep4").show();

					if(path_5 === "digital_health_data_release.html") {
						lnb.find(".sd_lnb_s_311").addClass(active);
					} else if(path_5 === "digital_health_data_release.html") {
						lnb.find(".sd_lnb_s_312").addClass(active);
					}
				} else if(path_4 === "service") {
					lnb.find(".sd_lnb_m_322").addClass(active).find(".sd2_lnb_dep4").show();

					if(path_5 === "digital_health_service_release.html") {
						lnb.find(".sd_lnb_s_321").addClass(active);
					} else if(path_5 === "digital_health_service_guide.html") {
						lnb.find(".sd_lnb_s_322").addClass(active);
					} else if(path_5 === "digital_health_service_tracker.html") {
						lnb.find(".sd_lnb_s_323").addClass(active);
					}
				}
			}

		} else if(path_2 === "internet") {
			lnb.find(".sd_lnb_m_400").addClass(active).find(".sd2_lnb_dep2").show();

			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_402").addClass(active).find(".sd2_lnb_dep3").show();
			}

		} else if(path_2 === "in-app") {
			lnb.find(".sd_lnb_m_500").addClass(active).find(".sd2_lnb_dep2").show();

			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_502").addClass(active).find(".sd2_lnb_dep3").show();
			}

			if(path_4 === "in-app_overview.html") {
				lnb.find(".sd_lnb_s_511").addClass(active);
			} else if(path_4 === "in-app_release.html") {
				lnb.find(".sd_lnb_s_512").addClass(active);
			} else if(path_4 === "in-app_howto_start.html") {
				lnb.find(".sd_lnb_s_513").addClass(active);
			} else if(path_4 === "in-app_programming_guide.html") {
				lnb.find(".sd_lnb_s_514").addClass(active);
			} else if(path_4 === "in-app_air_guide.html") {
				lnb.find(".sd_lnb_s_515").addClass(active);
			} else if(path_4 === "in-app_migrating.html") {
				lnb.find(".sd_lnb_s_516").addClass(active);
			}
		} else if(path_2 === "penup") {
			lnb.find(".sd_lnb_m_600").addClass(active).find(".sd2_lnb_dep2").show();


			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_602").addClass(active).find(".sd2_lnb_dep3").show();
			}

			if(path_4 === "penup_release.html") {
				lnb.find(".sd_lnb_s_621").addClass(active);
			} else if(path_4 === "penup_programming_guide.html") {
				lnb.find(".sd_lnb_s_622").addClass(active);
			}
		} else if(path_2 === "artik") {
			lnb.find(".sd_lnb_m_700").addClass(active).find(".sd2_lnb_dep2").show();
		} else if(path_2 === "smart_connectivity") {
			lnb.find(".sd_lnb_m_800").addClass(active).find(".sd2_lnb_dep2").show();


			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_802").addClass(active).find(".sd2_lnb_dep3").show();
			}

		} else if(path_2 === "smart_home") {
			lnb.find(".sd_lnb_m_900").addClass(active).find(".sd2_lnb_dep2").show();


			if(path_3 === "technical") {
				lnb.find(".sd_lnb_m_902").addClass(active).find(".sd2_lnb_dep3").show();
			}

			if(path_4 === "smart_home_api_spec.html") {
				lnb.find(".sd_lnb_s_921").addClass(active);
			} else if(path_4 === "smart_home_api_feature.html") {
				lnb.find(".sd_lnb_s_922").addClass(active);
			} else if(path_4 === "smart_home_ui.html") {
				lnb.find(".sd_lnb_s_923").addClass(active);
			} else if(path_4 === "smart_home_logo.html") {
				lnb.find(".sd_lnb_s_924").addClass(active);
			} else if(path_4 === "smart_home_terms.html") {
				lnb.find(".sd_lnb_s_925").addClass(active);
			} else if(path_4 === "smart_home_img.html") {
				lnb.find(".sd_lnb_s_926").addClass(active);
			} else if(path_4 === "smart_home_3rdparty.html") {
				lnb.find(".sd_lnb_s_927").addClass(active);
			}
		} else if(path_2 === "theme_service") {
			lnb.find(".sd_lnb_m_1000").addClass(active).find(".sd2_lnb_dep2").show();
		}
	});
	// ]]>
</script>