<!-- lnb_wrap -->
<div class="sd2_lnb_wrap">
	<!-- lnb_container -->
	<div class="sd2_lnb_container">
		<!-- lnb_real_wrap -->
		<div class="sd2_lnb_real_wrap">
			<ul class="sd2_lnb_dep1">
				<li class="sd2_none"><a href="#">Samsung Services</a></li>
				<li><a href="#">Samsung Account</a></li>
				<li><a href="#">Samsung Digital Health</a></li>
				<li><a href="#">Samsung Internet</a></li>
				<li class="sd2_active"><a href="#">Samsung In-App Purchase</a>
					<ul class="sd2_lnb_dep2" style="display:block">
						<li class="sd2_none"><a href="#sd2_essential">Essential Contents</a></li>
						<li><a href="#sd2_technical">Technical Document</a>
							<ul class="sd2_lnb_dep3">
								<li class="sd2_none"><a href="#">Overview</a></li>
								<li class="sd2_none"><a href="#">Release Note</a></li>
								<li class="sd2_none"><a href="#">How to Start Samsung IAP</a></li>
								<li class="sd2_none"><a href="#">Programming Guide</a></li>
								<li class="sd2_none"><a href="#">In App Content</a></li>
								<li class="sd2_none"><a href="#">Migrating from Google Play IAB</a></li>
								<li class="sd2_none"><a href="#">Adobe AIR Proramming Guide</a></li>
							</ul>
						</li>
						<li class="sd2_none"><a href="#sd2_samples">Samples</a></li>
						<li class="sd2_none"><a href="#sd2_faq">FAQ</a></li>
						<li class="sd2_none"><a href="#sd2_event">Event Materials</a></li>
					</ul>
				</li>
				<li><a href="#">PEN.UP</a></li>
				<li class="sd2_none"><a href="#">ARTIK</a></li>
				<li><a href="#">Smart Connectivity</a></li>
				<li><a href="#">Smart Home Cloud API</a></li>
				<li class="sd2_none"><a href="#">Theme Servicep</a></li>
				<li class="sd2_none"><a href="#">Smart View</a></li>
			</ul>
		</div><!-- //lnb_real_wrap -->
	</div><!-- //lnb_container -->
</div><!-- //lnb_wrap -->